<style>

  img.lines3 {
    width: 395px;
    height: 319px;
    margin-left: 300px;
    position: fixed;
    top: 0;
  }
  img.lines4 {
    width: 395px;
    height: 319px;
    margin-left: 1300px;
    position: fixed;
    top: 0;
  }

  img.lines2 {
    width: 395px;
    height: 319px;
    margin-left: 1300px;
    position: fixed;
    bottom: 0;
  }

  img.lines5 {
    width: 395px;
    height: 319px;
    margin-left: 300px;
    position: fixed;
    bottom: 0;
  }

  .block{
    line-height: 5px;
    position: fixed;
    margin-top: 200px;
    left: 775px;
    width: 500px;
    height: 500px;
  }

  .block h1, h2 ,h3 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 35px;
    line-height: 20px;
  }

  .block h1,h2 {
    margin-top: 50px;
  }

  .block h2 , h1 {
    margin-bottom: 50px;
  }

  .mark {
    width: 100px;
    height: 45px;
    position: relative;
  }

  .mark::after, .mark:before{
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: white;
    width: 100px;
    top: 45%;
  }

  .mark::after{
    left: 295px;
  }
  .mark::before {
    left: 100px;
  }
  .diamond{
    height: 40px;
    width: 40px;
    border: 2px solid #8d1f56;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 225px;
    transform: rotate(45deg);
  }
</style>

<body>
  <div>
  <img src="assets/img/lines3.png" class="lines3" alt="xxx">
  <img src="assets/img/lines4.png" class="lines4" alt="xxx">

  <div class="block">
    <h1>CONTACT:</h1>
    <div class="mark">
      <div class="diamond"></div>
    </div>
    <h2>EMAIL:</h2>
    <h3>xxx@xxx.xxx</h3>
    <div class="mark">
      <div class="diamond"></div>
    </div>
    <h2>PHONE:</h2>
    <h3>+48 000 000 000 </h3>
  </div>

  <img src="assets/img/lines2.png" class="lines2" alt="xxx">
  <img src="assets/img/lines5.png" class="lines5" alt="xxx">
</div>
</body>
