<style>
  img.lines3 {
    width: 395px;
    height: 319px;
    margin-left: 300px;
    position: fixed;
    top: 0;
  }
  img.lines4 {
    width: 395px;
    height: 319px;
    margin-left: 1300px;
    position: fixed;
    top: 0;
  }

  img.lines2 {
    width: 395px;
    height: 319px;
    margin-left: 1300px;
    position: fixed;
    bottom: 0;
  }

  img.lines5 {
    width: 395px;
    height: 319px;
    margin-left: 300px;
    position: fixed;
    bottom: 0;
  }

  .mark {
    width: 100px;
    height: 45px;
    position: relative;
  }

  .mark::after, .mark:before{
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: white;
    width: 100px;
    top: 45%;
  }

  .mark::after{
    left: 295px;
  }
  .mark::before {
    left: 100px;
  }
  .diamond{
    height: 40px;
    width: 40px;
    border: 2px solid #8d1f56;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 225px;
    transform: rotate(45deg);
  }


  .block{
    position: fixed;
    margin-top: 200px;
    left: 775px;
    width: 500px;
    height: 500px;
  }

  h1{
    letter-spacing: 2px;
    font-size: 35px;
    color: #fff;
    text-align: center;
  }

  h2{
    padding-bottom: 20px;
  }
  a {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    letter-spacing: 2px;
  }

  a:hover{
    transition: 0.5s;
    transition-property: color;
    color: #8d1f56;
  }

</style>


<body>

  <img src="assets/img/lines3.png" class="lines3" alt="xxx">
  <img src="assets/img/lines4.png" class="lines4" alt="xxx">

  <div class="block">
      <h1>DONATIONS:</h1>
    <div class="mark">
      <div class="diamond"></div>
    </div>
    <h1>BITCOIN:</h1>
    <h2>bc1q2j6cstdk537ppmtwdsjpkvvswnp9j8hcmrl9py</h2>

    <div class="mark">
      <div class="diamond"></div>
    </div>

    <a href="https://liberapay.com/53jk1/donate">-- LIBERAPAY --</a>

    <div class="mark">
      <div class="diamond"></div>
    </div>

    <a href="https://www.buymeacoffee.com/53jk1">-- BUYMEACOFFEE --</a>

  </div>


  <img src="assets/img/lines2.png" class="lines2" alt="xxx">
  <img src="assets/img/lines5.png" class="lines5" alt="xxx">
</body>
