<style>
  h2 {
    margin-left: 300px;
    margin-top: 200px;
    font-size: 70px;
    line-height: 2px;
    margin-bottom: 70px;
  }

  .content h3, h4, h5{
    margin-left: 300px;
    font-size: 70px;
    line-height: 2px;
    margin-top: 0;
    margin-bottom: 70px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 70px;
    color: #ffffff;
    text-shadow: 8px 8px 8px rgb(141, 31, 86);
  }

  img.banner {
    width: 1000px;
    height: 702px;
    margin-left: 800px;
    position: fixed;
    top: 150px;

  }

  img.lines {
    width: 395px;
    height: 319px;
    margin-left: 900px;
    position: fixed;
    top: 0;
  }

  img.lines2 {
    width: 395px;
    height: 319px;
    margin-left: 1300px;
    position: fixed;
    bottom: 0;
  }


</style>
<div class="content">

  <h2>Hello,</h2>
  <h3>This is our</h3>
  <h4>UPDATE</h4>
  <h5>for linux.</h5>

  <img src="../../../assets/img/banner.png" class="banner" alt="xxx">

  <img src="../../../assets/img/lines.png" class="lines" alt="xxx">

  <img src="../../../assets/img/lines2.png" class="lines2" alt="xxx">
</div>
