<style>

  *{
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
  }


  .download{
    text-align: center;
    position: fixed;
    margin-top: 200px;
    left: 550px;
  }

  button {
    padding: 10px 20px;
    top: 50px;
    margin: 20px;
    position: relative;
    width: 300px;
    height: 100px;
    background: #010615;
    letter-spacing: 3px;
    transition: 0.5s;
    border-style: none;
    background: none;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003) ;
  }

  h1{
    font-size: 40px;
    font-weight: bold;
  }

  .bt1:hover{
    color: #0a0a0a;
    background:  #0180ff;
    box-shadow: 0 0 100px #0180ff;
    transition-delay: 0.5s;
  }

  .bt2:hover{
    color: #0a0a0a;
    background:  #FF0000;
    box-shadow: 0 0 100px #FF0000;
    transition-delay: 0.5s;
  }

  .bt3:hover{
    color: #0a0a0a;
    background:  #89ff00;
    box-shadow: 0 0 100px #89ff00;
    transition-delay: 0.5s;
  }

  button:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 20px;
    height: 20px;
    transition: 0.5s;
  }

  .bt1:before {
    border-top: 4px solid #0180ff;
    border-left: 4px solid #0180ff;
  }
  .bt2:before {
    border-top: 4px solid #FF0000;
    border-left: 4px solid #FF0000;
  }
  .bt3:before {
    border-top: 4px solid #89ff00;
    border-left: 4px solid #89ff00;
  }

  button:hover:before{
    width: 100%;
    height: 100%;
  }

  button:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    transition: 0.5s;
  }

  .bt1:after {
    border-right: 4px solid #0180ff;
    border-bottom: 4px solid #0180ff;
  }
  .bt2:after {
    border-right: 4px solid #FF0000;
    border-bottom: 4px solid #FF0000;
  }
  .bt3:after {
    border-right: 4px solid #89ff00;
    border-bottom: 4px solid #89ff00;
  }

  button:hover:after{
    width: 100%;
    height: 100%;
  }


  .bt1 {
    color: #0180ff;
  }
  .bt2 {
    color: #FF0000;
  }
  .bt3 {
    color: #89ff00;
  }


  button:focus{
    outline: none;
  }


  .text1 {
    left: 550px;
    display: block;
    background: none;
    position: fixed;
    top: 150px;
  }

  h2{
    margin: 20px;
    width: 300px;
    height: 100px;
    background: none;
    text-align: center;
    display: inline-block;
    position: relative;
    letter-spacing: 3px;
    border-style: none;
    overflow: hidden;
    color: #fff;
  }

  .text2 {
    left: 550px;
    display: block;
    background: none;
    position: fixed;
    top: 500px;
  }


</style>

<body>

<div class="text1">
  <h2>OFFICE:</h2>
  <h2>GAMER:</h2>
  <h2>HACKER:</h2>
</div>

  <div class="download">
    <a href="assets/download.exe/linuxoffice.exe.png" download="">
      <button class="bt1"><h1> DOWNLOAD </h1></button>
    </a>
    <a href="assets/download.exe/linuxgames.exe.jpg" download="">
      <button class="bt2"><h1> DOWNLOAD </h1></button>
    </a>
    <a href="assets/download.exe/linuxadvanced.exe.jpg" download="">
      <button class="bt3"><h1> DOWNLOAD </h1></button>
    </a>
  </div>

<div class="text2">
  <h2>SIZE: 100 MB</h2>
  <h2>SIZE: 150 MB</h2>
  <h2>SIZE: 200 MB</h2>
</div>

</body>
